@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body {
  font-family: 'Aldrich', sans-serif;
  background-color: #5CDB95;
  color: #00396E;
  transition: background-color .5s ease, color .5s ease;
}

iframe {
  width: 90%;
  height: 500px;
  display: block;
  border: none;
  margin: auto;
}

.logo {
  width: 200px;
}

.container {
  position: relative;
  min-height: 90vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

a {
  text-decoration: none;
  color: #EDF5E1;
}

a:hover {
  text-decoration: underline;
  color: #EDF5E1;
}


.title {
  width: 100%;
  text-align: center;
}

button {
  cursor: pointer;
  font-size: 20pt;
  border: none;
  background-color: #00396E;
  color: #5CDB95;
  font-family: 'Aldrich', sans-serif;
  padding: 8px;
  padding-bottom: 3px;
  transition: background-color .5s ease, color .5s ease;
  border-radius: .5rem;
}

button:hover {
  background-color: #48bd7c;
  color: #EDF5E1;
}

button.discord {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card {
  background-color: #00396E;
  padding: 2%;
  border-radius: 20px;
  color: #5CDB95;
  width: 60%;
  margin: auto;
  margin-top: 4%;
  transition: padding .5s ease, border-radius .5s ease, width .5s ease, margin .5s ease;
}

.card p {
  font-size: 16pt;
  line-height: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #437571;
  height: 2.5rem;
}

.footer a {
  color: #437571;
}

.footer .heart {
  width: 20px;
}

@media only screen and (max-width: 1000px) {
  body{
    background-color: #00396E;
    color: #5CDB95;
  }
  .card {
    padding: 2%;
    border-radius: 0px;
    width: 90%;
    margin: 2%;
  }
  .logo {
    visibility: hidden;
  }
}

.codegena {
  position:relative;
  width:100%;
  height:0;
  padding-bottom:56.27198%;
}

.codegena iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
